@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


:root{
    --transluscent-light: rgba(255,255,255, 0.35);
    --transluscent-dark: rgba(120,70,154, 0.2);
    --yellow: #fdcb1e;
    --orange: #ff7700;
    --green: #50e3c2;
    --blue: #3343e5;

}
.wrapper{
    /* height: 100%; */
    /* width: 100%; */
    display: grid;
    grid-gap: 20px;
}

.yellow {
	background-color: #fdcb1e;
}

.orange {
	background-color: #ff7700;
}

.green {
	background-color: #50e3c2;
}

.blue {
	background-color: #3343e5;
}